*{
    margin:0;
    padding:0;
}

body{
    background: #f8f8f8;
    display: flex;
    justify-content: center;
    margin-top: 8vh;
}

.container{
    height: max-content;
    min-height: 75vh;
    width: 75vh;
    background:#34e7e4;
    display:flex;
    justify-content: center;
    border-radius: 50px;
}

.form-container{
    margin-top: 10%;
}

.form{
    display:flex;
}

.input{
    width:160%;
    height:30px;
    border-radius: 25px;
    border-style: solid;
    border-color: #0fbcf9;
    outline: none;
    padding-left: 5%;
}

.btn{
    text-transform: uppercase;
    font-family: sans-serif;
    background-color: #0fbcf9;
    border-radius: 25px;
    width: 200px;
    border: none;
    color:#485460;
    cursor: pointer;
    margin-left: 10px;
    outline:none;
}

.todo{
    width:100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1vh;
}

.todo-text{
    font-family: sans-serif;
    color:#485460;
}

.delete-btn{
    width:40px;
    height: 40px;
    color:#485460;
    background-color: #0fbcf9 ;
    border-radius: 25px;
    border-style: none;
    cursor: pointer;
    outline: none;
}

.cross{
    text-decoration-line: line-through;
}

@media screen and (max-width: 650px){
    .container{
        width:75vh;
    }
}


